<a href="https://colab.research.google.com/github/MarisolCor/Challenge_21/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [18]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [19]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN','SPECIAL_CONSIDERATIONS'],inplace=True)

In [20]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
STATUS                  2
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [21]:
namecnt = application_df['NAME'].value_counts()
names_replace = list(namecnt[namecnt<5].index)

# Replace in dataframe
for name in names_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [22]:
# Look at APPLICATION_TYPE value counts for binning
app_types_df = application_df['APPLICATION_TYPE'].value_counts()
#.sort_values(1, ascending=False)
app_types_df

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [23]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace=list(app_types_df[app_types_df<500].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [24]:
# Look at CLASSIFICATION value counts for binning
classification_cnts=application_df['CLASSIFICATION'].value_counts()
classification_cnts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [25]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_df_gt1 = classification_cnts[classification_cnts>1]
classification_df_gt1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [26]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace=list(classification_cnts[classification_cnts<500].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [27]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_transformed = pd.get_dummies(application_df,dtype=float)

In [28]:
# Split our preprocessed data into our features and target arrays

target=application_df_transformed["IS_SUCCESSFUL"].values
data = application_df_transformed.drop("IS_SUCCESSFUL", axis=1).values
# Split the preprocessed data into a training and testing dataset

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=44)

In [29]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [30]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer

nn.add(tf.keras.layers.Dense(units=7, activation="relu", input_dim=445))

# Second hidden layer

nn.add(tf.keras.layers.Dense(units=14, activation="relu"))

# Output layer

nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 7)                 3122

 dense_4 (Dense)             (None, 14)                112

 dense_5 (Dense)             (None, 1)                 15

=================================================================
Total params: 3249 (12.69 KB)
Trainable params: 3249 (12.69 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [31]:
# Compile the model

nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [32]:
# Train the model

fit_model = nn.fit(X_train_scaled, y_train, epochs=80)

Epoch 1/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7425
Epoch 2/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4458 - accuracy: 0.7856
Epoch 3/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4351 - accuracy: 0.7898
Epoch 4/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4315 - accuracy: 0.7904
Epoch 5/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4304 - accuracy: 0.7893
Epoch 6/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4288 - accuracy: 0.7927
Epoch 7/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4279 - accuracy: 0.7949
Epoch 8/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4271 - accuracy: 0.7950
Epoch 9/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4265 - accuracy: 0.7955
Epoch 10/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4262 - accuracy: 0.7954
Epoch 11/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4256 - accuracy: 0.7962
Epoch 12/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4251 - accuracy: 0.7968
Epoch 13/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4245 - accuracy: 0.7967
Epoch 14/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4242 - accuracy: 0.7963
Epoch 15/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4235 - accuracy: 0.7970
Epoch 16/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4236 - accuracy: 0.7963
Epoch 17/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4232 - accuracy: 0.7985
Epoch 18/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4228 - accuracy: 0.7989
Epoch 19/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4222 - accuracy: 0.7994
Epoch 20/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4219 - accuracy: 0.8004
Epoch 21/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4218 - accuracy: 0.8007
Epoch 22/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4208 - accuracy: 0.8010
Epoch 23/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4204 - accuracy: 0.8014
Epoch 24/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4204 - accuracy: 0.8005
Epoch 25/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4199 - accuracy: 0.8003
Epoch 26/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4196 - accuracy: 0.8009
Epoch 27/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4193 - accuracy: 0.8019
Epoch 28/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4187 - accuracy: 0.8023
Epoch 29/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4183 - accuracy: 0.8014
Epoch 30/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4182 - accuracy: 0.8019
Epoch 31/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4179 - accuracy: 0.8026
Epoch 32/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4174 - accuracy: 0.8031
Epoch 33/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4173 - accuracy: 0.8022
Epoch 34/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4170 - accuracy: 0.8027
Epoch 35/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4170 - accuracy: 0.8034
Epoch 36/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4164 - accuracy: 0.8028
Epoch 37/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4161 - accuracy: 0.8034
Epoch 38/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4159 - accuracy: 0.8038
Epoch 39/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4159 - accuracy: 0.8031
Epoch 40/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4158 - accuracy: 0.8042
Epoch 41/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4156 - accuracy: 0.8027
Epoch 42/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4152 - accuracy: 0.8046
Epoch 43/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4149 - accuracy: 0.8038
Epoch 44/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4148 - accuracy: 0.8047
Epoch 45/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4147 - accuracy: 0.8043
Epoch 46/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4143 - accuracy: 0.8038
Epoch 47/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4137 - accuracy: 0.8046
Epoch 48/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4141 - accuracy: 0.8046
Epoch 49/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4135 - accuracy: 0.8054
Epoch 50/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4136 - accuracy: 0.8039
Epoch 51/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4130 - accuracy: 0.8052
Epoch 52/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4129 - accuracy: 0.8049
Epoch 53/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4129 - accuracy: 0.8046
Epoch 54/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4125 - accuracy: 0.8056
Epoch 55/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4123 - accuracy: 0.8056
Epoch 56/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4126 - accuracy: 0.8059
Epoch 57/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4124 - accuracy: 0.8045
Epoch 58/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4122 - accuracy: 0.8050
Epoch 59/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4121 - accuracy: 0.8047
Epoch 60/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4118 - accuracy: 0.8054
Epoch 61/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4112 - accuracy: 0.8060
Epoch 62/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4116 - accuracy: 0.8061
Epoch 63/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4113 - accuracy: 0.8060
Epoch 64/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4112 - accuracy: 0.8057
Epoch 65/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4109 - accuracy: 0.8052
Epoch 66/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4107 - accuracy: 0.8047
Epoch 67/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4108 - accuracy: 0.8056
Epoch 68/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4107 - accuracy: 0.8054
Epoch 69/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4104 - accuracy: 0.8054
Epoch 70/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4106 - accuracy: 0.8053
Epoch 71/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4104 - accuracy: 0.8068
Epoch 72/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4099 - accuracy: 0.8060
Epoch 73/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4103 - accuracy: 0.8056
Epoch 74/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4102 - accuracy: 0.8061
Epoch 75/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4098 - accuracy: 0.8063
Epoch 76/80
804/804 [==============================] - 2s 3ms/step - loss: 0.4094 - accuracy: 0.8066
Epoch 77/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4098 - accuracy: 0.8071
Epoch 78/80
804/804 [==============================] - 2s 2ms/step - loss: 0.4094 - accuracy: 0.8063
Epoch 79/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4096 - accuracy: 0.8056
Epoch 80/80
804/804 [==============================] - 1s 2ms/step - loss: 0.4092 - accuracy: 0.8064

In [33]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4545 - accuracy: 0.7894 - 452ms/epoch - 2ms/step
Loss: 0.4544501006603241, Accuracy: 0.7893877625465393

In [34]:
# Export our model to HDF5 file

nn.save_weights('my_model.hdf5')